.genservices{
background-color: #0d0f11;

height: 95vh;
}


.servicecontent{
position: relative;
top: 70px;

}

.sc{
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}


.services{
color: #fff2b3;
font-size: 48px;
font-family: system-ui;
font-weight: 700;
}

.com{
font-size: 20px;
color: #9aa2b1;
font-family: system-ui;
text-align: center;
margin-top: 10px;
}


.mainservicegen{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
position: relative;
top: 60px;
padding-left: 200px;


}

.mainservicegen h2{
color: #ffcc33;
font-size: 24px;
font-family: system-ui;
font-weight: 500;
}


.mainservicegen li{
    color: #fff2b3;
    font-size: 16px;
font-family: system-ui;

}


.icnndsaas, .icnndb2b, .icnndecom, .icnndcustom, .icnndseo{
display: flex;
align-items: center;
gap: 10px;
}

.mainservicegen svg{
    width: 25px;
    height: 25px;
    color: #ffcc33;
}

.ecomicn{
    position: relative;
    bottom: 15px;
}